*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-image: linear-gradient(to right, #E22865, #37ADCD);
    color: #fff;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
  }
  
  .container{
    margin: auto;
    width: 1280px;
  }

  .titulo__pagina {
    font-size: 50px;
    margin: 20px 0 35px 0;
    padding: 0 20px;
    text-align: center;
    text-shadow: 3px 3px #000;
  }

  .subtitulo {
    font-size: 30px;
    margin: 20px;
    text-align: center;
    text-decoration: underline;
  }

  .texto {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 2.0;
    margin: 20px;
    text-align: center;
  }

  .lista__exemplo {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
    outline: none;
    padding: 15px;
    transition: all 0.30s ease-in-out;
  }
  
  .titulo__bucket{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    justify-content: space-around;
    min-height: 70px;
    text-decoration: underline;
  }
  
  .titulo h2 {
    font-size: 40px ;
  }
  
  .user_input{
    margin-top: 2px;
    text-align: center;
    width: 350px;
  }
  
  .user_input input{
    border: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    padding: 15px;
    transition: all 0.30s ease-in-out;
    width: 75%;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
  }
  
  .user_input input:focus{
    border: 1px solid #E22865;
    box-shadow: 0 0 5px #E22865;
  }
  
  .user_input button{
    background-color: lightgray;
    border: 1px solid lightgray;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 15px;
    transition: 1s;
    width: fit-content;
  }
  
  .user-input button:hover{
    background-color: transparent;
    color: white;
  }
  
  #to_do_list{
    margin: auto;
    width: 500px;
  }
  
  .item{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: #454545;
    display: flex;
    font-size: 1rem;
    height: auto;
    justify-content: space-between;
    list-style: none;
    margin-top:10px;
    padding: 1rem;
    text-transform: uppercase;
    transition: all 0.30s ease-in-out;
    width: 100%;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
  }

  
  .item:hover{
    border: 1px solid #E22865;
    box-shadow: 0 0 20px #E22865;
  }
  
  .item i{
    cursor: pointer;
    margin: 0 5px;
  }

  .titulo__item {
    text-decoration: underline;
  }

  .exemplo {
    height: 50px;
    width: 600px;
  }

  .secundario {
    display: flex;
    flex-wrap: wrap;
  }

  .imagem {
    align-self: center;
  }

  .titulo__video {
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
    text-decoration: underline;
  }

  .video {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

.rodape {
    text-align: center;
}

.rodape__texto {
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-size: 16px;
    margin-bottom: 1em;
}
  
  @media(max-width:1280px){
    .container {
      width: 100%;
    }
  }

    .secundario {
      display: flex;
      flex-wrap: wrap;
    }

  
  @media(max-width:768px){
    .container{
      width: 95%;
    }
    
    #header{
      align-items: center;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
    }
  
    #header h2{
      margin: 10px 0;
    }
  
    .user_input{
      width: 100%;
    }
  
    #to_do_list{
      width: 100%;
    }

    .video {
      display: flex;
      flex-wrap: wrap; 
      margin: 0 auto;
      width: 500px;
    }

  }    
  
  @media(max-width:480px){
    .user_input input{
      width: 74%;
    }

    .video {
      width: 300px;
    }

    .imagem {
      margin: 0 auto;
      width: 300px;
    }
  }

    
  @media(max-width:320px){
    .user_input input{
      width: 60%;
    }

  }
  